<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link href="/../../miproyecto/assets/css/estilos.css" rel="stylesheet" media="screen">
    <link href="/../miproyecto-cambios/assets/css/navbar.css" rel="stylesheet" media="screen">
</head>
<body>
        <!--navbar-->
<nav class="navbar">
    <img
    src="/../miproyecto/assets/img/idea-light-bulb-svgrepo-com.svg"
    alt="logoempresa"
    height="87"
    width="100" />
    <div class="brand-title">Bienvenidos a la tienda de computacion!</div>
    <p> alumno: Axel Liscovsky</p>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li> <a href="/../miproyecto-cambios/backend/views/home.html">Home</a> </li>
            <li> <a href="https://github.com/Axel-lis/">About</a> </li>
            <li> <a href="#">Contact</a> </li>
        </ul>
    </div>
</nav>

<form id="form_categorias">
<h1>Agregar Categoría:</h1>
<label for="name">Nombre categoría:</label> <br>
<input type="text" id="nombre_categoria" placeholder="nombre categoría">
<br>
<label for="name">ID categoria:</label> <br>
<input type="text" id="id_categoria" placeholder="id categoria">
<br>
<div class="btns">
<input type="button" id="btncancelar" class="btncancelar" value="cancelar" >
<input type="button" id="btnguardar" class="btnguardar" value="guardar" >



<footer>
    <p>//@Alumno:Axel Liscovsky </p>
</footer>

       


<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-3.6.1.min.js"
integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
crossorigin="anonymous"></script>
<script src="/../miproyecto-cambios/assets/js/validaciones_productos.js"></script>
<script src="/../miproyecto-cambios/assets/js/home.js"></script>
<script>
    window.addEventListener('load', ()=>{
        let validadorFormulario= new FormValidator('registrarDatos',)
    })
</script>
</body>
</html>