<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home tienda</title>
    <link href="/../miproyecto-cambios/assets/css/estilos.css" rel="stylesheet" media="screen">
    <link href="/../miproyecto-cambios/assets/css/navbar.css" rel="stylesheet" media="screen">
</head>
<body>

    <!--navbar-->
<nav class="navbar">
    <img
    src="/../miproyecto/assets/img/idea-light-bulb-svgrepo-com.svg"
    alt="logoempresa"
    height="87"
    width="100" />
    <div class="brand-title">Bienvenidos a la tienda de computacion!</div>
    <p> alumno: Axel Liscovsky</p>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li> <a href="/../miproyecto-cambios/backend/views/home.html">Home</a> </li>
            <li> <a href="https://github.com/Axel-lis/">About</a> </li>
            <li> <a href="#">Contact</a> </li>
        </ul>
    </div>
</nav>
<!--opciones menu-->
<div class="menu_inicio">
<input type="button" id="btnlistar" value="LISTAR PRODUCTOS" class="btnlistar"> 
<input type="button" id="btncategoria" value="CATEGORIA PRODUCTOS" class="btncategoria">
<input type="button" id="btnproductos" value="PRODUCTOS" class="btnproductos" >
</div>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-3.6.1.min.js"
integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
crossorigin="anonymous"></script>
<script src="/../miproyecto-cambios/assets/js/validaciones_productos.js"></script>
<script src="/../miproyecto-cambios/assets/js/home.js"></script>

</body>
</html>