<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de productos</title>
    <link href="/../miproyecto-cambios/assets/css/estilos.css" rel="stylesheet" media="screen">
    <link href="/../miproyecto-cambios/assets/css/navbar.css" rel="stylesheet" media="screen">
</head>
<body>
 <!--navbar-->
 <nav class="navbar">
  <img
  src="/../miproyecto/assets/img/idea-light-bulb-svgrepo-com.svg"
  alt="logoempresa"
  height="87"
  width="100" />
  <div class="brand-title">Bienvenidos a la tienda de computacion!</div>
  <p> alumno: Axel Liscovsky</p>
  <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
  </a>
  <div class="navbar-links">
      <ul>
          <li> <a href="/../miproyecto-cambios/backend/views/home.html">Home</a> </li>
          <li> <a href="https://github.com/Axel-lis/">About</a> </li>
          <li> <a href="#">Contact</a> </li>
      </ul>
  </div>
</nav>
  
<!--tabla de la lista de productos-->
<h1 class="titulo_lista">Lista de Productos:</h1>
<div id="tabla">
</div>
 <!--Pop up para editar productos-->
<div id="modificar_datos" style="display: none;">
<form>
  <label for="name">Nombre producto:</label> <br>
  <input type="text" id="nombre_producto"  name='nombre'placeholder="nombre producto..">  <br><br>
  <label for="img">Imagen<br>
  <input type="file" id="imagen_procuto" name='imagen' class="ignore()"></label>  <br><br>
  <label for="desc">Descripción</label> 
  <input type="text" id="descripcion_producto" name='descripcion'placeholder="Descripción.." >
  <br><br>
  <label for="price">Precio</label> 
  <input type="text" id="precio_producto" name='precio' placeholder="Precio unidad..">
  <br><br>
  <label for="categ">Categoría</label>
  <input type="text" id="categoria_producto" name='categoria' placeholder="Categoría..">
  

<div class="btns">
  <input type="button" id="btncancelarModal" class="btncancelar" value="CANCELAR">
  <input type="button" id="btnguardar" class="btnguardar" value="GUARDAR">
</div>

</form>
</div>

<!--jquery cdn-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script type="text/javascript"
src="https://code.jquery.com/jquery-3.6.1.min.js"
integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
crossorigin="anonymous"></script>
 <!--validate js cdn-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--js-->
<script src="/../miproyecto-cambios/assets/js/home.js"></script>
<script src="/../miproyecto-cambios/assets/js/validaciones_productos.js"></script>
<!-- para evitar el caché  -->
<script>
  new Date($.now());
  var dt= new Date();
  $.getScript("/../miproyecto-cambios/assets/js/listar_productos.js?v='"+ dt.getSeconds() + "'");
</script>
<script src="/../miproyecto-cambios/assets/js/home.js"></script>
<script src="/../miproyecto-cambios/assets/js/validaciones_productos.js"></script>
</body>
</html>