<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de categorias</title>
    <link href="/../miproyecto/assets/css/estilos.css" rel="stylesheet" media="screen">
</head>
<body>
    <nav>
        <h1>Bienvenidos a la tienda de computación!</h1>
        <img
        src="/../miproyecto/assets/img/idea-light-bulb-svgrepo-com.svg"
        alt="logoempresa"
        height="87"
        width="100" />
    </nav>
    
    <div class="container">
        <a href="home.html" class="btnhome">Volver al Home ↩</a>
    </div>
    <table>
        <caption>Categorias</caption>
    <tr>
        <td>ID</td>
        <td>Nombre</td>
    </tr>
    <tr>
          
        <td></td>
        <td></td>
    </tr>
      </table>
      
      




</body>
</html>